* {
	box-sizing: border-box;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	color: inherit;
	background-color: transparent;
	vertical-align: baseline;
	font-weight: bold;
}

body {
	color: #fff;
	background-color: #000;
	font-family: monospace;
}

canvas {
	image-rendering: crisp-edges;
}

td {
	padding: 0 0.5em 0 0.5em;
}

table {
	max-width: 100%;
}

p {
	margin-top: 0.5em;
}

.brk {
	word-break: break-all;
}

.small {
	font-size: 75%;
}

.midfit {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	vertical-align: middle;
}

.r {
	text-align: right;
}

#leaders {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
	z-index: 1;
	text-shadow: #000 0 0 1px;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

#main {
	background-color: #000;
}

#loading {
	font-size: 64px;
	z-index: 2;
}

#catcher {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 5;
}

#fps {
	float: right;
	font-size: 75%;
	opacity: 0.25;
}

.spin {
	display: inline-block;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	line-height: 1em;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
